* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 50%;
  scroll-behavior: smooth;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include breakpoint-md {
    font-size: 62.5%;
  }
}

body {
  box-sizing: border-box;
  font-size: 2.25rem;
  height: 100vh;
  line-height: 140%;
  min-width: 320px;

  a {
    text-decoration: none;
    color: inherit;
  }

  @include breakpoint-md {
    font-size: 1.8rem;
  }
}

header {
  background-color: $orange;
  display: flex;
  justify-content: space-between;
  height: 4em;
  padding-left: 2.5em;
  padding-right: 2.5em;

  .logo {
    border: solid 1px white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100px;
    flex: none;
  }

  nav {
    border: solid 1px black;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $purple;
    font-family: $display-font;

    ul {
      list-style: none;
    }

    li {
      display: inline-block;
      margin-left: 2em;

      a:hover {
        text-decoration: underline;
      }

      a:active {
        text-decoration: underline;
      }
    }
  }
}
