* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 50%;
  scroll-behavior: smooth;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include breakpoint-md {
    font-size: 62.5%;
  }
}

body {
  box-sizing: border-box;
  font-size: 2.25rem;
  height: 100vh;
  line-height: 140%;
  min-width: 320px;

  a {
    text-decoration: none;
    color: inherit;
  }

  @include breakpoint-md {
    font-size: 1.8rem;
  }
}

header {
  background-color: $orange;
  display: flex;
  justify-content: space-between;
  height: 4em;
  padding-left: 2.5em;
  padding-right: 2.5em;

  .logo {
    border: solid 1px white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100px;
    flex: none;
  }

  nav {
    border: solid 1px black;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $purple;
    font-family: $display-font;

    ul {
      list-style: none;
    }

    li {
      display: inline-block;
      margin-left: 2em;

      a:hover {
        text-decoration: underline;
      }

      a:active {
        text-decoration: underline;
      }
    }
  }
}

.landing-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  footer {
    font-family: $display-font;
    background-color: $purple;
    height: 4em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  footer > p {
    font-size: 3rem;
    color: $orange;
    text-align: center;
  }
}

.regular-page {
  padding: 5.5em 0 3.5em 3.5em;
  display: flex;
  justify-content: space-between;
  background-color: $purple;
  color: white;
  height: 100vh;

  .text-controls-container {
    width: 40%;
    h1 {
      font-family: $display-font;
      font-size: 6rem;
      margin-bottom: 1em;
    }
    p {
      font-family: $body-font;
      font-size: 1.5rem;
      margin-bottom: 2em;
    }

    .controls-container {
      .control {
        border: solid 2px $orange;
        border-radius: 50%;
        width: 2em;
        height: 2em;
        display: inline-block;
        background: $purple;
      }
    }
  }
  .card-container {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 40%;

    .card {
      border: solid 1px $orange;
      width: 10em;
      display: inline-block;
    }
  }
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
