* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 50%;
  scroll-behavior: smooth;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include breakpoint-md {
    font-size: 62.5%;
  }
}

body {
  box-sizing: border-box;
  font-size: 2.25rem;
  height: 100vh;
  line-height: 140%;
  min-width: 320px;

  a {
    text-decoration: none;
    color: inherit;
  }

  @include breakpoint-md {
    font-size: 1.8rem;
  }

  ul {
    list-style: none;
  }
}
