---
layout: page
eleventyNavigation:
  key: about
  order: 1
---
<div class="regular-page">
  <h1>About</h1>

  <p>Il Trio FiBre ha l'obiettivo di scoprire compositori coevi e spaziare dalla Musica del '900 alla Contemporanea all' Elettronica e alla compartecipazione di arti musicali e visive nelle loro più creative possibilità.</p>

  <p>Il Trio FiBre nasce a Firenze nel 2022, i musicisti che lo compongono hanno tutti compiuto gli studi presso il Conservatorio di Firenze e hanno svolto attività concertistica da camera, sinfonica e contemporanea per importanti istituzioni.</p>

</div>
