---
layout: page
eleventyNavigation:
  key: about
  order: 1
---
<div class="regular-page">
  <div class="text-controls-container">
    <h1>About</h1>
    <p>Il Trio FiBre ha l'obiettivo di scoprire compositori coevi e spaziare dalla Musica del '900 alla Contemporanea all' Elettronica e alla compartecipazione di arti musicali e visive nelle loro più creative possibilità.</p>
    <p>Il Trio FiBre nasce a Firenze nel 2022, i musicisti che lo compongono hanno tutti compiuto gli studi presso il Conservatorio di Firenze e hanno svolto attività concertistica da camera, sinfonica e contemporanea per importanti istituzioni.</p>
    <div class="controls-container">
      <button class="control" disabled>
      {% include "./_includes/icon-components/chevron-left.njk" %}
       <span class="sr-only">Previous card</span>
      </button>
      <button class="control">
        {% include "./_includes/icon-components/chevron-right.njk" %}
        <span class="sr-only">Next card</span>
      </button>
    </div>
  </div>
  <div class="card-container">
    <div class="card-scroll">
      <article class="flex-card">
        <h2>
           <a href="#">Daniela Nocentini</a>
        </h2>
        <h3>Clarinet</h3>
        <img src="../assets/images/daniela-card.jpg" alt="Portrait of Danilea Nocentini" width="100%">
        <h4 class="cta">More info</h4>
      <article> 
    </div>
    <div class="card-scroll">
      <article class="flex-card">
        <h2>
           <a href="#">Daniela Nocentini</a>
        </h2>
        <h3>Clarinet</h3>
        <img src="../assets/images/daniela-card.jpg" alt="Portrait of Danilea Nocentini" width="100%">
        <h4 class="cta">More info</h4>
      </article>
    </div>
    <div class="card-scroll">
      <article class="flex-card">
        <h2>
           <a href="#">Daniela Nocentini</a>
        </h2>
        <h3>Clarinet</h3>
        <img src="../assets/images/daniela-card.jpg" alt="Portrait of Danilea Nocentini" width="100%">
        <h4 class="cta">More info</h4>
      </article>
     </div>
  </div>

</div>

