---
layout: page
eleventyNavigation:
  key: contact
  order: 5
---
<div class="contact-page">
  <h1>Contacts</h1>
  <ul>
    <li>
      <a href="mailto:fibre@gmail.com">fibre[at]gmail.com</a>
    </li>
    <li>
      <a href="#">instagram</a>
    </li>
    <li>
      <a href="#">twitter</a>
    </li>
    <li>
      <a href="#">facebook</a>
    </li>
  </ul>

</div>
