.about-page {
  padding: 5.5em 0 3.5em 3.5em;
  display: flex;
  justify-content: space-between;
  background-color: $purple;
  color: white;
  height: 100vh;

  .text-controls-container {
    width: 30%;
    h1 {
      font-family: $display-font;
      font-size: 6rem;
      margin-bottom: 1em;
    }
    p {
      font-family: $body-font;
      font-size: 1.5rem;
      margin-bottom: 2em;
      font-weight: 100;
    }

    .controls-container {
      display: flex;
      justify-content: space-between;
      width: 100%;

      button {
        border-radius: 50%;
        width: 4rem;
        height: 4rem;
        cursor: pointer;
      }

      .controls {
        border: solid 3px $orange;
        display: inline-block;
        background-color: $purple;
      }

      .controls:hover {
        background-color: $orange;
      }

      .controls:hover svg {
        fill: $purple;
      }

      .controls svg {
        fill: $orange;
      }

      .controls[disabled] {
        border: #ccc solid 3px;
        pointer-events: none;
      }

      .controls[disabled] > svg {
        fill: #ccc;
      }
    }
  }
  .cards-container {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 50%;

    .card {
      display: inline-block;
      position: relative;
      border: solid 2px $orange;
      border-radius: 13px;
      width: 20em;
      transition: box-shadow 0.6s linear;
    }

    .card-content {
      display: flex;
      flex-direction: column;
      font-family: $body-font;

      img {
        border-radius: 13px 13px 0 0;
        order: -1;
      }

      a {
        color: $orange;
        margin-bottom: 2rem;
      }

      h2 {
        margin-top: 2rem;
      }

      p {
        margin-top: 0.7rem;
        margin-bottom: 1rem;
      }

      h2,
      p,
      a {
        margin-left: 2rem;
      }

      a::after {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: " ";
      }
    }

    .card:hover,
    .card:focus-within {
      box-shadow: 5px 5px 0px 0px $orange;
      a {
        text-decoration: underline;
      }
    }
  }
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
