.landing-page {
  display: flex;
  flex-direction: column;

  img {
    flex: 1 0 auto;
  }

  div {
    font-family: $display-font;
    background-color: $purple;
    height: 4em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
  }

  div > p {
    font-size: 3rem;
    color: $orange;
    text-align: center;
  }
}
